.calendarContainer {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    margin-left: 800px;
}

.calendarBox {
    width: 400px
}

.leaveTypeContainer {
    position: absolute;
    top: 50px;
    left: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 20px;
}

.leaveType {
    border: 1 px solid;
    border-radius: 4px;

}
.page-title{
    font-size: 24px;
}